{% load static %}

<!DOCTYPE html>

<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>
            F1
            {% block title_block %}

            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/flag-icon-css-master/css/flag-icon.css" %}">
        <link rel="icon" href="{% static "app/img/favicon-16x16.png" %}">
    </head>
    <body>

        <div class="container-fluid">

            <nav class="navbar navbar-expand-lg">
                <a href="{% url 'index' %}" class="navbar-brand">
                    <img src="{% static 'app/img/f1_logo.svg' %}" alt="F1 Logo" class='border-0'>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <ion-icon name="menu"></ion-icon>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class='nav-item'>
                            <a class="nav-link mr-3" href='{% url 'equipes' %}'>Equipes</a>
                        </li>
                        <li class='nav-item'>
                            <a class="nav-link mr-3" href='{% url 'pilotos' %}'>Pilotos</a>
                        </li>
                        <li class='nav-item'>
                            <a class="nav-link mr-3" href='{% url 'calendario' %}'>Calendário</a>
                        </li>
                        <li class='nav-item'>
                            <a class="nav-link mr-3" href='{% url 'classificacao' %}'>Classificação</a>
                        </li>
                    </ul>

                    <div class="justify-content-end">
                        <ul class="navbar-nav dropdown-menu-right mr-auto mt-2 mt-lg-0">
                            <li class='nav-item mr-4'>
                                <a class="text-white" href='#'>Cadastre-se</a>
                            </li>
                            <li class='nav-item mr-4'>
                                <a class="text-white" href='#'>Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% block body_block %}

            {% endblock %}

            <footer class="bg-dark">
                <div class="row align-items-center justify-content-center" id='rodape'>
                    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 mx-1">
                        <p class="text-center font-weight-bold">
                            © 2003-2019 Formula One World Championship Limited
                        </p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mx-1">
                        <div class="row justify-content-center">
                            <h1>
                                <a href="https://www.facebook.com/Formula1" class="text-white text-decoration-none" target="_blank">
                                    <ion-icon class="px-2" name='logo-facebook'></ion-icon>
                                </a>
                                <a href="https://twitter.com/f1" class="text-white" target="_blank">
                                    <ion-icon class="px-2" name='logo-twitter'></ion-icon>
                                </a>
                                <a href="https://www.instagram.com/f1/" class="text-white text-decoration-none" target="_blank">
                                    <ion-icon class="px-2" name='logo-instagram'></ion-icon>
                                </a>
                                <a href="https://www.youtube.com/F1" class="text-white text-decoration-none" target="_blank">
                                    <ion-icon class="px-2" name='logo-youtube'></ion-icon>
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        <script src="{% static "js/script.js" %}"></script>

    </body>
</html>